body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    align-items: center;
    align-content: center;
    align-self: center;
}

.navigation{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: column;
    align-items: center;
    align-content: center;
    text-align: center;
    letter-spacing: 10px;
}
.navigation a{
    text-decoration: none;
}
.navigation a:hover{
    color:aqua;
}