body{
    background-color: rgb(255, 255, 255);
    color: black;
    overflow-x: hidden;
    animation: colors 10s infinite;
}
@keyframes colors {
    0%{
        background-color: rgb(255, 255, 255);
        color: black;
    }
    50%{
        background-color: rgb(0, 0, 0);
        color:white;

    }
    100%{
        background-color: rgb(255, 255, 255);
        color: black;

    }
}
.playlists{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: center;
    align-items: center;
    font-size: larger;
    text-align: center;
}
.playlists a{
    text-decoration: none;
}
.backbutton a{
    text-decoration: none;
    color: black;
    font-size: larger;
}
.backbutton a:hover{
    color: aliceblue;
}